.testing	{
	display: flex;
	width: calc(85% - 10px);
}

.side	{
	flex: 1;
	padding: 10px;
	border: 1px dashed red;
	width: fit-content;
}

.side-content-center	{
	display: flex;
	align-items: center;
}

.sub-heading	{
	color: #fff !important;
	font-size: 45px;
	font-family: 'Century Gothic';
	font-weight: 350;
	margin-top: 0;
	position: relative;
	margin-bottom: 40px;
	left: 10px;
}