.project-container	{
	display: flex;
	width: calc(85% - 10px);
	padding-bottom: 35px;
}

.text-side	{
	flex: 2;
	padding: 10px;
	width: 80%;
}

.image-side	{
	flex: 1;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.sub-heading	{
	color: #fff !important;
	font-size: 45px;
	font-family: 'Century Gothic';
	font-weight: 350;
	margin-top: 0;
	position: relative;
	margin-bottom: 40px;
	left: 10px;
}