.testing	{
	display: flex;
	width: 85%;
}

.side	{
	flex: 1;
	padding: 10px;
	border: 1px dashed red;
	width: fit-content;
}

.side-content-center	{
	display: flex;
	align-items: center;
}

.sub-heading	{
	color: #fff !important;
}